* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}


.main-content {
  flex: 1;
  /* padding: 20px; */
  width: 100%;
  background-color: #141415;
  color: white;
}