.project_overview_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 30px;
  padding: 0 20px;
}

/* Responsive */
@media (max-width: 1000px) {
  .project_overview_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .project_overview_container {
    grid-template-columns: 1fr;
  }
}