.dashboard_content {
  background: #0f0f0f;
  min-height: 100vh;
  color: #fff;
  padding: 20px;
}

.project_overview_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
}

/* Responsive */
@media (max-width: 1000px) {
  .project_overview_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .project_overview_container {
    grid-template-columns: 1fr;
  }
}